<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SplashScreenApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntecConnect"
        tools:targetApi="31">

        <activity
            android:name=".ui.activities.BookingActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.IntecConnect"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.spaces.SpacesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.IntecConnect" />

        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.IntecConnect" />

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activities.BottomNavigationActivity"
            android:exported="true"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/Base.Theme.IntecConnect.Fragments.view" />
        <activity
            android:name=".ui.activities.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.IntecConnect.LoginActivity" />
        <activity
            android:name=".ui.shopping.CartActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.IntecConnect.Fragments.view" />
        <activity
            android:name=".ui.detailsProducts.ProductDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.IntecConnect.Products.Details" />

        <activity
            android:name=".ui.auth.ResetPasswordActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="web-api-intcx.onrender.com" />
                <data android:pathPrefix="/reset-password" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="geo" />
            </intent-filter>

        </activity>

    </application>

</manifest>